{% extends 'basepdf.html.twig' %}

{% block body %}
    <div style="margin-left: 12%">
        <p>République du Sénégal <span style="float: right">Date: {{ "now"|date("d/m/Y") }}</span></p>
        <p> Ministère de la santé <span
                    style="float: right">Nom du malade: {{ visite.patient.user.prenom ~" "~ visite.patient.user.nom }} </span>
        </p>
        <p> Et de l’action sociale <span style="float: right">adresse: {{ visite.patient.user.adresse }}</span></p>
        <p> Centre hospitalier régional</p>
        <p> Amadou Sakhir Mbaye de Louga</p>
        <p> Tel : 33 967 09 29</p>
        <p> Email : chrasmlouga@gmail.com</p>
        <div style="margin-left: 40%"><h3 class="border border-dark">Ordonnance</h3></div>
        <div class="container justify-content-center">
            <ul class="list-group" style="margin-left: 30%">
                {% for ordenance in visite.ordenance.medicaments %}
                    <li class="list-group-item" >
                        {{ ordenance.libelle }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <p> Fait le : {{ "now"|date("d/m/Y") }} <span style="float:right ;margin-left: 5%">Médecin</span></p>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

